<br>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1><%= I18n.t('web.order_cancellation.list.your_order')%></h1>
        <table class="table">
          <thead>
          <tr>
            <th><%= I18n.t('web.order_cancellation.list.bu_unit')%></th>
            <th><%= I18n.t('web.order_cancellation.list.address')%></th>
            <th><%= I18n.t('web.order_cancellation.list.order_date')%></th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% order= OrderCancellationPresenter.new(@orders)%>
            <tr>
              <td class="align-middle"><%= order&.business_unit%></td>
              <td class="align-middle"><%= order&.address%></td>
              <td class="align-middle"><%= order&.order_time%></td>
              <td><button type="button" class="btn btn-warning" data-action="click->search#sendSms"><%= I18n.t('web.order_cancellation.list.send_sms')%></button></td>
              <td class="align-middle invisible" data-search-target="order_id"><%=@orders.id%></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container d-inline row " data-controller="search">
  <%= form_with url: false do |f|%>
    <div class="col-2  d-inline-block">
      <label class="h5 text-black"><%= I18n.t('web.order_cancellation.list.submit_sms')%></label>
      <%=f.text_field :search_sms,class: 'form-control', data:{search_target:'search_sms'}%>
    </div>
    <button type="button" class="btn btn-success" data-action="click->search#smsValue" data-search-target="search_sms">Submit</button>
  <% end %>
</div>
