<br>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1><%= I18n.t('admin.booking.list.header') %></h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Business unit</th>
            <th>Address</th>
            <th>Order date</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% order= OrderCancellationPresenter.new(@orders)%>
            <tr>
              <td class="align-middle"><%= order.business_unit%></td>
              <td class="align-middle"><%= order.address%></td>
              <td class="align-middle"><%= order.order_time%></td>
              <td class="align-middle"><%= link_to 'Cancel booking',order_cancellations_url, method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'  %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

