<div>
  <br>
  <p class="text-success">Select form and find your booking</p>
</div>

<%=form_tag order_cancellations_path, :method => 'get' do %>
  <div class="form-group row">
    <div class="col">
      <label>Order code</label>
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
    </div>
    <div class="col">
      <br>
      <%= submit_tag 'Search', class: 'btn btn-danger' %>
    </div>
    <div class="col">

    </div>
  </div>
<%end %>

<div class="row">
  <p id="notice"><%=notice%></p>
</div>

<br />
<div>
  <div class="container h1 alert-danger">
    <% if @cancellations.length > 1%>
      <%= %>
      <%elsif @cancellations.empty?%>
      <%= "Sorry! There is not booking for this order code.." %>
    <%else %>
      </div>
      <%= render 'form' %>
  <%end %>
    </div>
</div>

<br>
<br>
