<!DOCTYPE html>
<html lang="">
<head>
  <title>Vaccine Booking - Book your vaccine</title>
  <link rel="icon" href="https://cdn3.vectorstock.com/i/1000x1000/66/67/heart-care-logo-vector-35756667.jpg" type="image/x-icon">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
